

<div class="navbar navbar-light bg-info navbar-expand-md border-bottom" style="height:60px;">
    <div class="container">
        <span class="navbar-brand">Blazor WASM</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @*<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>

            </ul>*@
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Customers/list">Customers</NavLink>
                </li>
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Product/List">Products</NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

