@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">work_01</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
*@

<div class="navbar navbar-light bg-primary navbar-expand-md  border-top" style="height:70px">
    <div class="container">
        <span class="navbar-brand">Blazor WASM</span>
        <div class="collapse navbar-collapse" id="navbarsupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item ">
                    <NavLink class="nav-link" href="/">
                        Home
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item ">
                    <NavLink class="nav-link" href="/Customers/list">
                       Customers
                    </NavLink>
                </li>
            </ul>
           @* <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item ">
                    <NavLink class="nav-link" href="/Customers/product">
                        Product
                    </NavLink>
                </li>
            </ul>*@
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item ">
                    <NavLink class="nav-link" href="/Product/List">
                        Product list
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>